<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/main.css}" rel="stylesheet" />
    <title>Create</title>
    <script type="text/javascript" th:src="@{/sendJsonOnClick.js}"></script>
</head>
<body>
    <header>
        <a href="/code/latest">Latest code snippet</a>
    </header>
    <main>
        <textarea></textarea>
        <pre class="input">
            <span class="res">Time restriction:</span> <input id="time_restriction" type="text" value="0"/>
        </pre>
        <pre class="input">
            <span class="res">Views restriction:</span> <input id="views_restriction" type="text" value="0"/>
        </pre>
        <button id="send_snippet" type="submit" onclick="send()">Submit</button>
    </main>
</body>
</html>